// Placeholders

::-webkit-input-placeholder {
  color: $placeholderColor;
}

::-moz-placeholder {
  color: $placeholderColor;
}

:-ms-input-placeholder {
  color: $placeholderColor;
}

// Remove mozilla dotted lines

button::-moz-focus-inner {
  border: 0;
}

button:focus {
  outline: none !important;
}
