// Containers

.textfield__container {
  position: relative;
  border-radius: $textfieldBorderRadius;

  &.-has-icon {
    input {
      position: relative;
      z-index: 1;
    }
  }
}

// Textfield icons

.textfield__icon-container {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 2px;
  right: 2px;
  width: calc($textfieldHeight - $textfieldBorderWidth - $textfieldBorderWidth);
  height: calc(
    $textfieldHeight - $textfieldBorderWidth - $textfieldBorderWidth
  );
}

.textfield__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;

  > path {
    fill: $textfieldIconColor;
    transition: transition('fill');

    .textfield__icon-container:hover & {
      fill: $textfieldIconColorHover;
    }
  }
}

// Password icon

.view-password__icon-path {
  &.-hide {
    opacity: 0;

    .textfield__container.-show-password & {
      opacity: 1;
    }
  }

  &.-show {
    .textfield__container.-show-password & {
      opacity: 0;
    }
  }
}

// Input

.textfield,
.textarea {
  border: $textfieldBorderWidth solid $textfieldBorderColor;
  border-radius: $textfieldBorderRadius;
  padding: 0 $textfieldPaddingHorizontal;
  height: $textfieldHeight;
  font-size: $textfieldFontSize;
  font-weight: $textfieldFontWeight;
  background: #fff;
  transition: transition('border-color', 'box-shadow');
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &.-block {
    display: block;
    width: 100%;
  }

  //     &--small {
  //       padding: 0 8px;
  //       height: $textfieldHeightSmall;
  //     }

  //     &--large {
  //       height: $textfieldHeightLarge;
  //     }

  //     &--monospace {
  //       font-family: $monospaceFontFamily;
  //     }

  &:hover,
  .textfield__container.-trigger-hover:hover & {
    border-color: $textfieldBorderColorHover;
  }

  &:focus {
    border-color: $textfieldBorderColorActive !important;
    box-shadow: 0 0 0 3px $textfieldBoxShadowColor;
  }

  //     &[readonly] {
  //       cursor: default;
  //       color: $grayTextColor;
  //       border-color: $textfieldBorderColor !important;
  //     }

  //     &[disabled] {
  //       color: #ccc;
  //       border-color: $textfieldBorderColor;
  //     }

  //     &.error {
  //       border-color: $errorColor;
  //     }

  //     &[data-form-value] {
  //       .input__wrapper[data-error] & {
  //         border-color: $errorColor;
  //       }
  //     }

  .textfield__container.-password & {
    padding-right: calc(24px + 16px + 8px);
  }
}

// Labels

.textfield__label {
  font-weight: 600;
  font-size: 16px;
  padding: 0 8px;
  margin: 16px 0 4px;

  &:first-child {
    margin-top: 0;
  }
}
