@use '../variables' as *;
@use '../mixins' as *;

.input__wrapper {
  position: relative;

  + .input__wrapper {
    margin-top: 16px;
  }
}

.input__container {
  position: relative;

  + .input__container {
    margin-top: 12px;
  }

  &.-required:not(.-has-value) {
    &::after {
      content: '';
      position: absolute;
      z-index: 4;
      top: 6px;
      right: 6px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $error-color;
    }
  }
}
// Label

.input__label {
  font-weight: 600;
  padding: 0 8px;
  margin: 0 0 4px;
  color: $default-text-color;
}

// Description

.input__description {
  font-size: 13px;
  padding: 0 8px;
  margin: 4px 0 0;
  color: $secondary-text-color;
}
