@use '../variables' as *;
@use '../mixins' as *;

.input__container {
  position: relative;

  + .input__container {
    margin-top: 12px;
  }
}

.input__wrapper {
  position: relative;

  + .input__wrapper {
    margin-top: 16px;
  }
}

// Label

.input__label {
  font-weight: 600;
  padding: 0 8px;
  margin: 0 0 4px;
  color: $light-text-color;
}

.input__description {
  font-size: 13px;
  padding: 0 8px;
  margin: 4px 0 0;
  color: $secondary-text-color;
}
