@use '../variables' as *;
@use '../mixins' as *;

// Containers

.list__wrapper {
  position: relative;
}

.list__container {
  position: relative;
}

// Header

.list-header__container {
  margin: 0 0 12px;
  display: flex;
  justify-content: space-between;
}

.list-footer__container {
  margin: 12px 0 0;
  display: flex;
  justify-content: space-between;
}

.list-filters__container {
  display: flex;
  gap: 8px;
}

.list-options__container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.list-search__container {
  width: 160px;
}

// Item header

.list-content__container {
  position: relative;
  border-radius: $small-border-radius;
  transition: transition('outline-color');
  outline-color: transparent;

  .list__wrapper.-is-dragover & {
    outline: 1px dashed $color-surface-4;
    outline-offset: 4px;
  }
}

.list-content__header {
  display: flex;
  align-items: center;
  position: relative;
  background: $color-surface-2;
  border-radius: $small-border-radius $small-border-radius 0 0;
  padding: 4px 8px 3px;

  .list__wrapper.-empty & {
    display: none;
  }

  &::after {
    content: '';
    height: 1px;
    background: $color-surface-3;
    position: absolute;
    left: 8px;
    right: 8px;
    top: calc(100% - 1px);
  }
}

.list-content__items {
  background: $color-surface-2;
  border-radius: 0 0 $small-border-radius $small-border-radius;

  .list__wrapper.-empty & {
    border-radius: $small-border-radius;
  }
}

.list-items-amount__container {
  &.-active {
    cursor: default;
  }
}

// Item

.list-item__container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  line-height: 24px;
  margin: 0 0 1px;
  transition: transitionSlow('opacity', 'color');

  .list__wrapper.-empty & {
    color: $secondary-text-color;
    text-align: center;
    justify-content: center;
    font-size: 14px;
  }

  &.-inactive {
    color: $color-surface-4;

    .badge {
      background-color: $color-surface-3;
      color: $color-surface-4;
    }
  }

  .list__wrapper.-loading & {
    opacity: 0.25;
  }

  &::after {
    content: '';
    height: 1px;
    background: $color-surface-3;
    position: absolute;
    left: 8px;
    right: 8px;
    top: 100%;
  }

  &.-sortable-dragging {
    margin: 0;
    background: $color-surface-2;
    border-radius: $small-border-radius;
    cursor: crosshair !important;

    &::after {
      display: none;
    }
  }

  &.-sortable-ghost .list__column.-body {
    opacity: 0.25;
  }

  &:last-child {
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }
}

// Columns

.list__column {
  margin: 0 8px 0 0;
  white-space: nowrap;
  transition: transition('color');

  &:last-child {
    margin-right: 0;
  }

  &.-head {
    display: flex;
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    color: $color-surface-6;

    &.-sortable {
      cursor: pointer;

      &:hover {
        color: $light-text-color;
      }
    }
  }

  &.-body {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    font-size: 13px;

    > a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $default-text-color;

      &:hover {
        color: $light-text-color;
      }

      .list-item__container.-inactive & {
        color: $color-surface-4;

        &:hover {
          color: $color-surface-5;
        }
      }
    }
  }

  &.-type-sortable {
    flex-shrink: 0;
    width: 24px;
    cursor: default;

    &.-body {
      height: 24px;
      transition: transition('color');
      color: $color-surface-4;

      .list__wrapper.-sortable & {
        cursor: grab;
        color: $secondary-text-color;
      }

      &:hover {
        .list__wrapper.-sortable & {
          color: $light-text-color;
        }
      }
    }
  }

  &.-type-multiselect {
    flex-shrink: 0;
    width: 24px;
    cursor: pointer;
    color: $secondary-text-color;

    &:hover {
      color: $light-text-color;
    }
  }

  &.-type-filepreview {
    flex-shrink: 0;
    width: 32px;
  }

  &.-type-icon {
    width: 24px;
    flex-shrink: 0;

    &.-body {
      height: 24px;
    }
  }

  &.-type-title {
    flex: 1 1 auto;

    &.-body {
      font-size: 15px;
    }
  }

  &.-type-badge {
    flex-shrink: 0;
    width: 95px;

    &.-head {
      flex-direction: row-reverse;
    }

    &.-body {
      text-align: right;
    }
  }

  &.-type-email {
    flex-shrink: 0;
    width: 240px;

    &.-head {
      flex-direction: row-reverse;
    }

    &.-body {
      text-align: right;
    }
  }

  &.-type-username {
    flex-shrink: 0;
    width: 160px;

    &.-head {
      flex-direction: row-reverse;
    }

    &.-body {
      text-align: right;
    }
  }

  &.-type-datetime {
    flex-shrink: 0;
    width: 145px;

    &.-head {
      flex-direction: row-reverse;
    }

    &.-body {
      text-align: right;
    }
  }

  &.-type-actions {
    display: flex;
    flex-shrink: 0;
    margin-right: -2px;
    margin-left: 8px;
  }

  .list__action {
    width: 28px;
    height: 24px;
    transition: transition('color');
    color: $secondary-text-color !important;

    &:hover {
      color: $light-text-color !important;
    }

    &.-type-toggle {
      .list-item__container.-inactive & {
        color: $color-surface-4 !important;

        &:hover {
          color: $light-text-color !important;
        }
      }
    }

    a {
      display: block;
      width: 28px;
      height: 24px;
      color: $secondary-text-color !important;

      &:hover {
        color: $light-text-color !important;
      }
    }
  }

  &.-body {
    .list__action {
      cursor: pointer;
    }
  }
}

.list__action-icon {
  display: block;
  height: 24px;
  width: 24px;
  margin: auto;
}

.list__multiselect-icon {
  display: block;
  height: 24px;
  width: 20px;
  font-size: 20px;
  line-height: 24px;
  margin: auto;
}

.list__order-icon {
  transition: transition('opacity', 'transform');
  opacity: 0;

  .list__column.-head:hover &,
  .list__column.-head.-current-order & {
    opacity: 1;
  }

  .list__column.-head:not(.-current-order)[data-default-order-direction='desc'] & {
    transform: scaleY(-1);
  }

  .list__column.-head.-current-order[data-order-direction='desc'] & {
    transform: scaleY(-1);
  }

  .list__column.-head.-current-order[data-order-direction='asc']:hover & {
    transform: scaleY(-1);
  }

  .list__column.-head.-current-order[data-order-direction='desc']:hover & {
    transform: scaleY(1);
  }
}

// Multiselect

.list-multiselect__container {
  position: relative;
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
