.header__wrapper {
  background: $adminPanelBackgroundColor;
  color: $adminPanelColor;
}

.header__container {
  display: flex;
  height: $headerHeight;
  align-items: center;
}

.header__profile-name {
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  margin: 0 0 0 auto;
}

.header__profile-link {
  color: $adminPanelColor;
  text-decoration: none;
  display: block;
  padding: 0 16px;
  line-height: $headerHeight;
  transition: transition('background-color');

  &:hover {
    color: $adminPanelColor;
    text-decoration: none;
    background-color: $adminPanelLinkColorHover;
  }
}

.header__logout-button {
  position: relative;
  width: $headerHeight;
  height: $headerHeight;
  transition: transition('background-color');

  &:hover {
    background: $adminPanelLinkColorHover;
  }

  > svg {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    > path,
    > polygon {
      fill: $adminPanelIconColor;
    }
  }
}
