@use "sass:string";

// Transitions

@function transition($values...) {
  $transition: '';
  @each $name in $values {
    @if ($transition != '') {
      $transition: $transition, string.unquote($name) $defaultTransitionSpeed;
    } @else {
      $transition: string.unquote($name) $defaultTransitionSpeed;
    }
  }
  @return $transition;
}
