// Text
$primaryFontFamily: 'Nunito Sans', sans-serif;
$monospaceFontFamily: 'Source Code Pro', monospace;
$defaultFontSize: 16px;
$defaultLineHeight: 1.5;

// Colors
$primaryColor: #247af2;
$primaryColorDark: darken(#247af2, 8);
$primaryColorLight: lighten(#247af2, 35);
$pageBackgroundColor: #f2f2f2;

// Colors: Text
$defaultTextColor: #222;
$grayTextColor: #888;
$grayTextColorLight: #aaa;

// Colors: Status
$errorColor: #f33;
$errorTextColor: #e33;
$errorColorDark: #d00;
$successColor: #5d2;
$warningColor: #fc0;

// Global
$globalBorderRadius: 10px;

// Form
$placeholderColor: #999;
$autofillBackgroundColor: #e0edff;

// Form: Textfields
$textfieldFontSize: 18px;
$textfieldFontWeight: 400;
$textfieldBorderWidth: 2px;
$textfieldBorderColor: #d2d2d2;
$textfieldBorderColorHover: #b2b2b2;
$textfieldBorderColorActive: $primaryColor;
$textfieldBoxShadowColor: $primaryColorLight;
$textfieldHeight: 52px;
$textfieldPaddingHorizontal: 16px;
$textfieldBorderRadius: $globalBorderRadius;

// Form: Buttons
$buttonFontSize: 20px;
$buttonLineHeight: 28px;
$buttonFontWeight: 400;
$buttonBackgroundColor: $primaryColor;
$buttonBackgroundColorHover: $primaryColorDark;
$buttonBoxShadowColor: $primaryColorLight;
$buttonPaddingVertical: calc(($textfieldHeight - $buttonLineHeight) / 2);
$buttonPaddingHorizontal: 32px;
$buttonBorderRadius: $globalBorderRadius;

// Transitions
$defaultTransitionSpeed: 250ms;

// Dimensions
// $headerHeight: 46px;
$panelWidth: 180px;
