// Text
$primaryFontFamily: 'Nunito Sans', sans-serif;
$monospaceFontFamily: 'Source Code Pro', monospace;
$defaultFontSize: 16px;
$defaultLineHeight: 1.5;

// Colors
$primaryColor: #0088ff;
$primaryColorDark: darken($primaryColor, 5);
$primaryColorLight: lighten($primaryColor, 38);
$pageBackgroundColor: #f2f2f2;

// Colors: Text
$defaultTextColor: #222;
$grayTextColor: #888;
$grayTextColorLight: #aaa;

// Colors: Status
$errorColor: #f33;
$errorTextColor: #e33;
$errorColorDark: #d00;
$successColor: #5d2;
$warningColor: #fc0;

// Global
$globalBorderRadius: 10px;

// Form
$placeholderColor: #aaa;

// Form: Textfields
$textfieldHeight: 52px;
$textfieldTextColor: $defaultTextColor;
$textfieldTextColorDisabled: #ccc;
$textfieldBackgroundColor: #fff;
$textfieldFontSize: 18px;
$textfieldFontWeight: 400;
$textfieldBorderWidth: 2px;
$textfieldBorderColor: #d2d2d2;
$textfieldBorderColorHover: #aaa;
$textfieldBorderColorActive: $primaryColor;
$textfieldIconColor: #c2c2c2;
$textfieldIconColorHover: #999;
$textfieldBoxShadowColor: $primaryColorLight;
$textfieldPaddingHorizontal: 16px;
$textfieldBorderRadius: $globalBorderRadius;

// Form: Buttons
$buttonFontSize: 20px;
$buttonLineHeight: 28px;
$buttonFontWeight: 400;
$buttonTextColor: #fff;
$buttonTextColorDisabled: #bbb;
$buttonBackgroundColor: $primaryColor;
$buttonBackgroundColorHover: $primaryColorDark;
$buttonBackgroundColorDisabled: #ddd;
$buttonBoxShadowColor: $primaryColorLight;
$buttonPaddingVertical: calc(($textfieldHeight - $buttonLineHeight) / 2);
$buttonPaddingHorizontal: 32px;
$buttonBorderRadius: $globalBorderRadius;

// Transitions
$defaultTransitionSpeed: 250ms;

// Dimensions
// $headerHeight: 46px;
$panelWidth: 180px;
