@use "variables" as *;
@use "sass:string";

// Mixins
@function transition($values...) {
  $transition: "";

  @each $name in $values {
    @if ($transition !="") {
      $transition: $transition,
        string.unquote($name) $default-transition-speed;
    }

    @else {
      $transition: string.unquote($name) $default-transition-speed;
    }
  }

  @return $transition;
}
