@use "../variables" as *;
@use "../mixins" as *;

.header__wrapper {
  background-color: $color-surface-2;
}

.header__container {
  height: $header-height;
  display: flex;
}

.header__content {
  flex: 1;
}

.header__user-menu {
  position: relative;
  flex-shrink: 0;
  height: $header-height;
  width: $header-height;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__user-menu-icon {
  width: 36px;
  height: 36px;
  font-size: 36px;
  color: $secondary-text-color;
  transition: transition('color');

  .header__user-menu:hover &,
  .header__user-menu.-active & {
    color: #fff;
  }
}
